.pairwise-generation-footer {
    float: left;
    width: 99%;
    height: 10%;
    font-family: '나눔고딕';
    $text-color : #333333;
    $font-size : 12px;
    margin-top: 0.5em;
  
      select{
        float: left;
        border: 1px solid #999999;
        color: #999999;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right:20px;
      }
  
    .display-range {
      float: left;
      margin-top: 0.3em;
      margin-left: 1.5em;
      color: #979797;
    }
  
    .pagenation{
        margin-bottom: 10px;
        width: 30em; //< 12345 > 50px 최대 7칸
        float:right;
    }
  }
  