.random-generation-tabs {
  .sc-htpNat {
    height: 50px;
  }
  .jGDlSU button.tab {
    padding: 5px 20px 5px 20px;
    border: 0.3px solid #e9e6e6;
  }
  .jGDlSU button.tab.active {
    border-bottom: 5px solid #4f84c4;
    color: #4f84c4;
  }
}
